<div class="row post-block block">
	<h4>Новая заметка</h4>
	<form method="post" action="/sbtnote">
		<div class="form-group">
			<input type="text" name="title" class="form-control" placeholder="Tilte">
		</div>
		<div class="form-group">
			<textarea class="form-control" name="text" rows="10"></textarea>
		</div>
		<button type="submit" class="btn btn-default">Опубликовать</button>
	</form>
</div>