<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{%TITLE%}</title>
    <link rel="stylesheet" href=".{%PATH%}/css/bootstrap.min.css">
    <link rel="stylesheet" href=".{%PATH%}/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container">
    <header class="header">
        <h1><a href="../">BLOG ENGINE</a></h1>
    </header>
    <div class="row">
        <main class="col-xs-12 col-md-9">


            {%CONTENT%}


            <div class="row post-block block">
                <h3 class="title-post">Заголовок полного поста</h3>
                <div class="col-xs-12 col-md-12">
                    {%AUTOR%}
                    {%PUBLICATION_DATA%}
                    {%ACCESS=1%}{%EDIT%}{%/ACCESS%}
                </div>
                <div class="col-xs-12 col-md-12 text-post">
                    {%TEXT%}
                </div>
                <div class="col-xs-12 col-md-12">
                    {%TEGS%}
                </div>
                <div class="col-xs-12 col-md-12">
                    {%COMMENTS%}
                </div>
            </div>

            <div class="row post-block block">
                <h3 class="title-post">Заголовок поста из списка</h3>
                <div class="col-xs-12 col-md-12">
                    {%AUTOR%}
                    {%PUBLICATION_DATA%}
                    {%ACCESS=1%}{%EDIT%}{%/ACCESS%}
                </div>
                <div class="col-xs-12 col-md-12 text-post">
                    {%TEXT%}
                </div>
                <div class="col-xs-12 col-md-12">
                    {%TEGS%}
                </div>
            </div>

        </main>
        <aside class="col-xs-12 col-md-3">
            <div class="row">

                <div class="col-md-12 sidebar-block block">
                    {%AUTHORIZATION%}
                </div>

                <div class="col-md-12 sidebar-block block">
                    <h4>Tegs</h4>
                    {%TEGS%}
                </div>

                <div class="col-md-12 sidebar-block block">
                    <h4>About me</h4>
                    bla bla blabla bla blabla bla blabla bla blabla bla blabla bla blabla bla bla
                </div>

                <footer class="col-md-12 sidebar-block block">
                    <h4>Copyrigt</h4>
                    © m00n1i9ht 2015
                </footer>
            </div>
        </aside>
    </div>
</div>
</body>
</html>