<form method="post" action="/login">
	<div class="form-group">
		<input type="email" name="email" class="form-control" placeholder="Email">
	</div>
	<div class="form-group">
		<input type="password" name="password" class="form-control"placeholder="Password">
	</div>
	<button type="submit" class="btn btn-default">Sing In</button> or
	<a href="../registration">registration</a>
</form>