<div class="row post-block block">
    <h3 class="title-post">{%TITLE%}</h3>
    <div class="col-xs-12 col-md-12">
        {%AUTOR%}
        {%PUBLICATION_DATA%}
        {%ACCESS=1%}{%EDIT%}{%/ACCESS%}
    </div>
    <div class="col-xs-12 col-md-12 text-post">
        {%TEXT%}
    </div>
    <div class="col-xs-12 col-md-12">
        {%TEGS%}
    </div>
    <div class="col-xs-12 col-md-12">
        {%COMMENTS%}
    </div>
</div>