<div class="row post-block block">
    <h3 class="title-post">Регистрация</h3>
    <div class="col-xs-12 col-md-5 ">
        <form method="post" action="/confirmation">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Nickname" name="nickname" maxlength="18">
            </div>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email" name="email" maxlength="50">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" name="password">
            </div>
            <button type="submit" class="btn btn-success">Sign Up</button>
        </form>
    </div>
</div>